project_id = "qecnntkyxbcwtwyzlqku"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
shadow_port = 54320
major_version = 17

[db.migrations]
enabled = true
schema_paths = []

[db.seed]
enabled = false
sql_paths = []

[studio]
enabled = true
port = 54323
api_url = "http://127.0.0.1"

[edge_runtime]
enabled = true
policy = "per_worker"
inspector_port = 8083
deno_version = 2

[functions.yelp_proxy]
verify_jwt = false

[functions.google_places_proxy]
verify_jwt = false
