<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>ru</string>
		<string>ur</string>
	</array>
	<key>LIMIT_TO_NYC_LONG_ISLAND</key>
	<true/>
	<key>MANUAL_PLACES</key>
	<array>
		<dict>
			<key>address</key>
			<string>6967 Grand Ave, Maspeth, NY 11378, United States</string>
			<key>allows_broad_search</key>
			<false/>
			<key>halal_status</key>
			<string>only</string>
			<key>id</key>
			<string>F2F3C8E4-5F2B-4F0D-BE64-7A1B0E8D2F11</string>
			<key>lat</key>
			<real>40.727240999999999</real>
			<key>lon</key>
			<real>-73.893433999999999</real>
			<key>name</key>
			<string>Affy’s</string>
			<key>search_query</key>
			<string>Affy’s</string>
			<key>search_span_lat</key>
			<real>0.17999999999999999</real>
			<key>search_span_lon</key>
			<real>0.17999999999999999</real>
		</dict>
		<dict>
			<key>address</key>
			<string>Long Island City, Queens, NY</string>
			<key>allows_broad_search</key>
			<true/>
			<key>halal_status</key>
			<string>only</string>
			<key>id</key>
			<string>7D1F5E3B-3D1E-4C2C-9A8E-6C8F4C1B9F11</string>
			<key>lat</key>
			<real>40.744</real>
			<key>lon</key>
			<real>-73.947999999999993</real>
			<key>name</key>
			<string>Little Flower Cafe</string>
			<key>search_query</key>
			<string>Little Flower Cafe</string>
			<key>search_span_lat</key>
			<real>0.17999999999999999</real>
			<key>search_span_lon</key>
			<real>0.17999999999999999</real>
		</dict>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We use your location to show nearby halal restaurants and mosques.</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFlY25udGt5eGJjd3R3eXpscWt1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTgyNDAyNTEsImV4cCI6MjA3MzgxNjI1MX0.lFV8Z5o3OyMoi_UIyrDSuJUdgLWVyd6s6HwPYC-wwl0</string>
	<key>SUPABASE_URL</key>
	<string>https://qecnntkyxbcwtwyzlqku.supabase.co</string>
</dict>
</plist>
