<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFlY25udGt5eGJjd3R3eXpscWt1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTgyNDAyNTEsImV4cCI6MjA3MzgxNjI1MX0.lFV8Z5o3OyMoi_UIyrDSuJUdgLWVyd6s6HwPYC-wwl0</string>
	<key>SUPABASE_URL</key>
	<string>https://qecnntkyxbcwtwyzlqku.supabase.co</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We use your location to show nearby halal restaurants and mosques.</string>
</dict>
</plist>
